// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-sprockets";

aside {

  position: fixed;
  float: left;
  width: 25%;
  padding-left: 5px;
}

section {

  width: 73%;
  padding-left: 2%;
  float: right;

}

.list-group img {

  width: 40%;
  margin-bottom: 10px;
}

.news-item {

  background-color: #FEFEFE;
  box-shadow: 1px 1px 3px #555;
  overflow: auto;
  width:90%;
  padding: 5px;
  margin-bottom: 25px;
}

.news-item a {

  color: #BBB;
  font-style: italic;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.news-item > h3 {

  margin-top: 5px; 
  font-size: 2em;
}

.news-item img {
  width: 20%;
  float: left;
  margin-right: 20px;
}

.news-item p {

  margin-right: 20px;
  margin-top: 10px;
  float:right;
  width: 75%;
}

.login_container{
  width: 40%;
  margin: auto;
  margin-top: 5%;
}

.login_container > form > label {

  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.login_container > form > input {

  margin-bottom: 10px;
  
} 
h1 {

  font-size: 250%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

label {
  margin-top: 10px;
}

.btn {
  margin-top: 15px;
}

.book_cover{

  -webkit-filter:brightness(100%);
  -webkit-transition: all 0.5s; 
}

.book_cover:hover {

  -webkit-filter:brightness(50%);
  -webkit-transition: all 0.5s; 
}

